html,
body {
  margin: 0;

  width: 100%;
  height: 100%;
}

#view {
  height: 100%;
  width: 100%;
}

#crosshair-vertical {
  height: 10px;
  width: 2px;
  background-color: #ddd;
  position: absolute;
  left: 50%;
  top: calc(50% - 4px);
  overflow: hidden;
}

#crosshair-horizontal {
  height: 2px;
  width: 10px;
  background-color: #ddd;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  overflow: hidden;
}

* {
  overflow: hidden;
}
